.filters {
    width: rem(256px);
    float: left;
    &-list {
        @extend %list;
    }
    &-checkbox {
        border: $border;
    }
    &-checkbox {
        &-list {
            padding-top: rem(30px);
            padding-bottom: rem(7px);
            @extend %list;
        }
    }
}