.filters {
    width: rem(256px);
    float: left;
    &-list {
        @extend %list;
    }
    &-item {
        margin-bottom: rem(59px);
    }
    &-checkbox {
        border: $border;
        margin-top: rem(6px);
    }
    &-checkbox {
        &-list {
            padding-top: rem(30px);
            padding-bottom: rem(7px);
            @extend %list;
        }
    }
    &-tags {
        &-list {
            @extend %list;
            letter-spacing: rem(4px);
            margin-bottom: rem(-11px);
        }
        &-item {
            display: inline-block;
            margin-bottom: rem(9px);
        }
        &__checkbox {
            &+label {
                @extend .btn;
                margin-bottom: 0 !important; // ???
                padding-bottom: rem(9px);
                &:before {
                    display: none !important; // ???
                }
            }
            &:checked+label {
                background: $orange;
            }
        }
    }
    &-dropdown {
        padding-top: rem(2px);
        padding-bottom: rem(1px);
        &__btn {
            border: none;
            background: none;
            padding: 0 rem(1px);
            vertical-align: middle;
            margin-right: rem(6px);
            @extend %title;
        }
        &__icon {
            font-size: rem(22px);
            vertical-align: middle;
        }
        &-list {
            @extend %list;
            display: none;
        }
    }
}