$pos-mar-bottom: 61px;
.positions {
    float: right;
    width: rem(826px);
    &-org {
        margin-bottom: rem(10px);
    }
    &__sum {
        margin-bottom: rem(15px);
    }
    &-list {
        @extend %list;
        margin: rem(6px) rem(-15px) (-$pos-mar-bottom);
        font-size: 0;
    }
    &-item {
        width: rem(255px);
        min-height: rem(10px);
        display: inline-block;
        margin: 0 rem(15px) $pos-mar-bottom;
        font-size: $html-font-size;
        vertical-align: top;
        position: relative;
        &:hover,
        &.active {
            .positions {
                &-wrap {
                    width: rem(275px);
                    z-index: 10;
                    position: absolute;
                    top: 0;
                    left: rem(-10px);
                    box-shadow: rem(10px) rem(10px) rem(20px) 0 rgba(black, .2);
                }
                &-details,
                &-nav {
                    display: block;
                }
                &-desc {
                    border-left: $border;
                    border-right: $border;
                    border-bottom: $border;
                    padding: rem(19px) rem(9px) rem(20px);
                }
            }
        }
        &.active {
            z-index: 9;
        }
    }
    &-wrap {
        background: white;
    }
    &-desc {
        padding: rem(19px) 0 0;
    }
    &-pic {
        height: rem(255px);
        overflow: hidden;
        position: relative;
        border: $border;
    }
    &__img {
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &-nav {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: none;
        &__close {
            background: none;
            padding: 0;
            border: none;
            right: rem(10px);
            top: rem(10px);
            position: absolute;
            font-size: rem(22px);
        }
        &__like {
            padding: 0;
            background: none;
            border: none;
            bottom: rem(1px);
            left: 50%;
            position: absolute;
            font-size: rem(27px);
            transform: translate(-50%, 0);
        }
        &__info {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &-details {
        display: none;
    }
    &-more {
        padding-top: rem(13px);
        width: rem(255px);
        text-align: center;
        &__icon {
            &-point {
                border-radius: 50%;
                height: rem(15px);
                width: rem(15px);
                display: inline-block;
                background: #eaeaea;
                border: rem(1px) solid #ababab;
                margin: 0 rem(9px);
                &.active {
                    background: black;
                    border-color: black;
                }
            }
        }
        &__text {
            @extend %title;
            font-size: rem(12px);
            margin-bottom: rem(25px);
            margin-top: rem(43px);
        }
    }
}