.footer {
    width: $wrapper;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    border-left: $border;
    border-right: $border;
    font-family: 'PlumbCondencedRegular';
    letter-spacing: rem(2.45px);
    font-size: rem(12px);
    &-wrapper {
        width: 100%;
        background-image: url('../img/layout/footer.png');
        background-size: cover;
        height: rem(558px);
    }
    &-block {
        &-el {
            margin-bottom: rem(29px);
        }
        &-inner {
            max-width: rem(256px);
        }
        padding: rem(160px) rem(28px) 0;
        width: 100%;
        border-left: $border;
        &:first-child {
            border-left: none;
        }
        &_right {
            padding-left: rem(30px);
            padding-bottom: rem(170px);
            width: rem(410px);
            flex-shrink: 0;
            position: relative;
        }
    }
    &-copyright {
        position: absolute;
        bottom: rem(46px);
        right: rem(26px);
        text-align: right;
        &__img {
            height: rem(72px);
            margin-bottom: rem(9px);
            margin-right: rem(2px);
        }
        &__text {
            color: #525151;
            font-size: rem(10px);
            font-family: 'PlumbCondencedRegular';
            letter-spacing: rem(2px);
        }
    }
    &-socials {
        &-list {
            @extend %list;
            margin-top: rem(26px);
        }
        &-item {
            margin-bottom: rem(14px);
        }
        &__link {
            color: black;
        }
        &__icon {
            font-size: rem(26px);
            vertical-align: middle;
            margin-right: rem(18px);
        }
    }
    &-input {
        padding-top: rem(7px);
        margin-top: rem(5px);
        margin-bottom: rem(4px);
    }
    &-btn {
        padding-top: rem(7px);
        padding-left: rem(8px);
        padding-bottom: rem(7px);
    }
    &-form__warning {
        margin-top: rem(4px);
    }
    &-subscr {
        &-submit {
            margin-top: rem(6px);
        }
    }
}