.project {
    display: flex;
    padding-left: rem(28px);
    padding-right: rem(30px);
    @extend %clearfix;
    &-block {
        padding-top: rem(39px);
        padding-bottom: rem(48px);
    }
    &-left {
        width: rem(445px);
        flex-shrink: 0;
    }
    &-desc {
        margin-left: rem(31px);
        margin-right: rem(20px);
        &__header {
            margin-bottom: rem(30px);
        }
        p {
            margin-bottom: rem(30px);
        }
    }
    &-contacts {
        margin-left: rem(18px);
        width: rem(269px);
        flex-shrink: 0;
        border-left: $border;
        font-family: 'PlumbCondencedRegular';
        letter-spacing: rem(2.4px);
        padding-left: rem(14px);
        &__header {
            margin-bottom: rem(15px);
        }
        a {
            color: black;
        }
        p {
            margin-top: rem(10px);
            margin-bottom: rem(16px);
        }
    }
    &-socials {
        &-list {
            @extend %list;
            padding: rem(1px) 0 0;
        }
        &-item {
            display: inline-block;
            margin-right: rem(12px);
        }
        &__link {
            font-size: rem(25px);
        }
    }
    &-location {
        margin-top: rem(23px);
        margin-bottom: rem(27px);
        &__map {
            margin-top: rem(6px);
            width: rem(160px);
            height: rem(160px);
            border: 1px solid blue;
        }
    }
    &-slider {
        height: rem(430px);
        border: $border;
        margin-bottom: rem(13px);
        &__img {
            max-height: 100%;
            max-width: 100%;
            display: block;
        }
        &-logo {
            width: rem(114px);
            height: rem(114px);
            position: absolute;
            bottom: 0;
            right: 0;
            &__img {
                max-width: 100%;
                max-height: 100%;
                display: block;
            }
        }
        &-like {
            position: absolute;
            top: rem(16px);
            right: rem(19px);
            font-size: rem(26px);
        }
    }
    &__price {
        letter-spacing: rem(2.5px);
        margin-bottom: rem(14px);
    }
}