.slider-top {
    &-wrapper {
        height: 100vh;
        margin-top: -$header-height;
        position: relative;
    }
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    &-item-wrapper {
        width: $wrapper;
        margin: 0 auto;
    }
    .slider-item {
        background: $orange;
        height: 100vh;
        padding-top: $header-height;
    }
    &-above {
        position: absolute;
        padding-top: $header-height;
        width: 100%;
        height: 100%;
        &-wrapper {
            width: $wrapper;
            margin: 0 auto;
            position: relative;
            height: 100%;
            &:before,
            &:after {
                display: block;
                content: '';
                height: 100%;
                width: 1px;
                background: rgba(black, .2); // ???
                position: absolute;
                top: 0;
                z-index: 5;
            }
            &:before {
                left: 0;
            }
            &:after {
                right: 0;
            }
        }
    }
    &-header {
        position: absolute;
        z-index: 5;
        top: rem(127px);
        left: rem(69px);
        width: rem(260px);
    }
    &__title {
        color: white;
        font-family: 'PlumbCondencedBlack';
        font-size: rem(36px);
        text-transform: uppercase;
        letter-spacing: rem(7.5px);
        line-height: 1.2;
        margin-bottom: rem(13px);
    }
    &__subtitle {
        font-size: rem(15px);
        font-family: 'PlumbCondencedRegular';
        letter-spacing: rem(3.05px);
    }
}