extends ../templates/page.pug

block variables
    - var title = "Поряд"

block content
    .wrapper
        include ../blocks/header.pug
    .slider-top-wrapper
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ipsum facere ratione, culpa voluptatem esse magni consequatur deleniti voluptatum beatae. Fuga hic officiis similique excepturi impedit labore, odit omnis blanditiis.
    .wrapper
        include ../blocks/previews/previews.pug
        include ../blocks/project.pug
        include ../blocks/deals.pug
    .footer-wrapper
        include ../blocks/footer.pug