.wrapper.deals
    .title Вас можуть зацікавити
    ul.deals-list
        +deals-item('Волонтерство вихідного дня','http://via.placeholder.com/160x160')
        +deals-item('Чапік шукає даму серця','http://via.placeholder.com/160x160')
        +deals-item('Нам потрібен старий посуд та підстилки','http://via.placeholder.com/160x160')
        +deals-item('Я Інжир і мені потрібен дім на тиждень','http://via.placeholder.com/160x160')
        +deals-item('Ми вже два місяці як готові дарувати Вам щастя','http://via.placeholder.com/160x160')
        +deals-item('Шукаємо сторожа в притулок','http://via.placeholder.com/160x160')