.wrapper.deals
    .title Вас можуть зацікавити
    ul.deals-list
        +deals-item('Волонтерство вихідного дня','./img/deals/1.png')
        +deals-item('Чапік шукає даму серця','./img/deals/2.png')
        +deals-item('Нам потрібен старий посуд та підстилки','./img/deals/3.png')
        +deals-item('Я Інжир і мені потрібен дім на тиждень','./img/deals/4.png')
        +deals-item('Ми вже два місяці як готові дарувати Вам щастя','./img/deals/5.png')
        +deals-item('Шукаємо сторожа в притулок','./img/deals/6.png')