.footer-wrapper
    footer.footer
        .footer-block
            .footer-block-inner
                .title З питань розміщення проектів заповніть форму
                form.form
                    button(type="submit").btn.btn_dark.btn_block Відправити
                    input(type="text" placeholder="Ім'я").input
                    input(type="text" placeholder="Прізвище").input
                    input(type="text" placeholder="E-mail").input
                    textarea(rows="5" placeholder="Текст").input
                .footer-form__warning Всі поля заповняти обов'язково
        .footer-block.footer-block_center
                .footer-block-el
                    .title Телефон
                    | 063 456 78 90
                .footer-block-el
                    | E-mail
                    br
                    | info@porjad.gmail.com
                .footer-block-el
                    | Підпишіться і отримуйте новини про
                    br
                    | нові проекти та активність
                    br
                    | у вашому кабінеті
                    form.footer-subscr-form
                        input(type="email" placeholder="E-mail").input.footer-input
                        button(type="submit").btn.btn_dark.footer-btn Підписатися
        .footer-block.footer-block_right
            .title Приєднуйтесь до нас
                br
                | усоціальних мережах
            ul.footer-socials-list
                li.footer-socials-item
                    a(href="#").footer-socials__link
                        +icon('fb','footer-socials__icon')
                        | facebook
                li.footer-socials-item
                    a(href="#").footer-socials__link
                        +icon('vk','footer-socials__icon')
                        | vkontakte
                li.footer-socials-item
                    a(href="#").footer-socials__link
                        +icon('google','footer-socials__icon')
                        | google+
                li.footer-socials-item
                    a(href="#").footer-socials__link
                        +icon('inst','footer-socials__icon')
                        | instagram
            .footer-copyright
                img(src="./img/logo.png").footer-copyright__img
                .footer-copyright__text © 2017 Соціальні проекти ‘ПОРЯД’. Всі права захищено.