header.header
    | header
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis officia placeat itaque ab laudantium architecto iste magni. Ipsam veritatis voluptate pariatur omnis quasi, odit, saepe maxime, dolorum iure esse cumque.