.wrapper.project
    .project-block.project-left
        .slider.project-slider
            ul.slider-list#projectSlider
                li.slider-item
                    img(src="./img/projects/sirius/slide1.png").project-slider__img
                li.slider-item
                    img(src="http://lorempixel.com/445/430/animals").project-slider__img
                li.slider-item
                    img(src="http://lorempixel.com/445/430/cats").project-slider__img
            .slider-nav
                .slider-toggle
                    a(href="#").slider-toggle__prev.btn-square PREV
                    a(href="#").slider-toggle__next.btn-square NEXT
                .project-slider-logo
                    img(src="./img/projects/sirius/logo.png").project-slider-logo__img#projectLogo
                .project-slider-like
                    button(type="button").btn-icon
                        +icon('heart','project-slider-like__icon')
        .accent.project__price#projectPrice сума необмежена
        a(href="#").btn Допомогти
    .project-block.project-desc
        .project-desc__header
            .title#projectTitle Збираємо кошти на харчування тварин #ДАЙ5!
            .subtitle#projectName Притулок Сіріус
        .project-desc__content#projectDesc
            p Що можна купити на 5 гривень? Більше, ніж ти думаєш – цілий день ситого життя для одного безпритульного собаки! Ми знову запускаємо естафету #ДАЙ5 і закликаємо всіх підтримати понад дві тисячі вихованців найбільшого в Україні притулку для тварин "Сіріус"
            p Поліпшити умови очікування справжнього дому просто: перераховуй 5 або більше гривень на картку притулку Приватбанк
                br
                span.red 5169 3305 1043 1114, 
                br
                | Мезінова О. В. (директора притулку)
                br
                | або через сайт 
                br
                a(href="http://sheltersirius.org") http://sheltersirius.org
                |  і передай естафету друзям.
            p Також можна налаштувати регулярний платіж і годувати хвостів на постійній 
                br
                | основі. Як це зробити, дивись тут: 
                br
                a(href="нgoo.gl/cYzT3Y") нgoo.gl/cYzT3Y
    .project-block.project-contacts
        .project-contacts__header
            span.title Контакти 
            span.subtitle#projectNameCnt Притулок Сіріус
        p
            a(href="tel:+380671234567")#projectTel тел: 067 123 45 67
        ul.project-socials-list#projectSoc
            li.project-socials-item
                a(href="#").project-socials__link
                    +icon('fb','')
            li.project-socials-item
                a(href="#").project-socials__link
                    +icon('vk','')
        p
            a(href="http://www.dogcat.com.ua")#projectSite www.dogcat.com.ua
        button(type="button").btn Написати нам
        .project-location
            span#projectAddress Україна, Київська область, село Федорівка
            .project-location__map#projectMap
        a(href="#").title Переглянути інші проекти організації