.wrapper.project
    .project-block.project-left
        .slider.project-slider
            .slider-nav
                .project-slider-logo
                    img(src="./img/projects/sirius/logo.png").project-slider-logo__img
                .project-slider-like
                    +icon('heart','')
                .slider-toggle
                    a(href="#").slider-toggle__left.btn-square PREV
                    a(href="#").slider-toggle__right.btn-square NEXT
            ul.slider-list
                li.slider-item
                    img(src="./img/projects/sirius/slide1.jpg").project-slider__img
        .accent.project__price сума необмежена
        a(href="#").btn Допомогти
    .project-block.project-desc
        .project-desc__header
            .title Збираємо кошти на харчування тварин #Дай5!
            .subtitle Притулок Сіріус
        p Що можна купити на 5 гривень? Більше, ніж ти думаєш – цілий день ситого життя для одного безпритульного собаки! Ми знову запускаємо естафету #ДАЙ5 і закликаємо всіх підтримати понад дві тисячі вихованців найбільшого в Україні притулку для тварин "Сіріус"
        p Поліпшити умови очікування справжнього дому просто: перераховуй 5 або більше гривень на картку притулку Приватбанк
            br
            span.accent 5169 3305 1043 1114, 
            br
            | Мезінова О. В. (директора притулку)
            br
            | або через сайт 
            br
            a(href="http://sheltersirius.org") http://sheltersirius.org
            |  і передай естафету друзям.
        p Також можна налаштувати регулярний платіж і годувати хвостів на постійній 
            br
            | основі. Як це зробити, дивись тут: 
            br
            a(href="нgoo.gl/cYzT3Y") нgoo.gl/cYzT3Y
    .project-block.project-contacts
        .project-contacts__header
            span.title Контакти 
            span.subtitle Притулок Сіріус
        p
            a(href="tel:+380671234567") тел: 067 123 45 67
        ul.project-socials-list
            li.project-socials-item
                a(href="#").project-socials__link
                    +icon('fb','')
            li.project-socials-item
                a(href="#").project-socials__link
                    +icon('vk','')
        p
            a(href="http://www.dogcat.com.ua") www.dogcat.com.ua
        button(type="button").btn Написати нам
        .project-location
            | Україна, Київська область,
            br
            | село Федорівка
            .project-location__map
        a(href="#").title Переглянути інші проекти організації