.slider-top-wrapper
    .slider.slider-top
        ul.slider-list
            li.slider-item
                .slider-top-item-wrapper
                    h1 slide #1
            li.slider-item
                .slider-top-item-wrapper                
                    h1 slide #2
            li.slider-item
                .slider-top-item-wrapper                                
                    h1 slide #3
        .slider-nav
            a(href="#").slider-toggle__prev.btn-square PREV
            a(href="#").slider-toggle__next.btn-square NEXT