.slider-top-wrapper
    .slider.slider-top
        .slider-top-above
            .slider-top-above-inner
                .slider-top-title
                    .slider-top-title__text Найбільша в Україні біржа добра
                    .slider-top-title__subtitle допомагати просто
                .slider-top__logo
                    img(src="./img/slider-top/logo_min.png")
        .slider-top-bottom
        ul.slider-list
            li.slider-item.slider-top-slide-1 
                .slider-top-item-wrapper     
                    .slider-top-slide__cloud
                        img(src="./img/slider-top/slide1/cloud.png")
                    .slider-top-slide__shadow     
                        img(src="./img/slider-top/slide1/shadow.png")
                    .slider-top-slide__char
                        img(src="./img/slider-top/slide1/character.png")
                    .slider-top-slide__text
                        | ...що, що? кажеш друг тобі потрібен?
                        br
                        | так я ж
            li.slider-item.slider-top-slide-2
                .slider-top-item-wrapper
                    .slider-top-slide-2__bird-large
                        img(src="./img/slider-top/slide2/bird_large.png")
                    .slider-top-slide-2__bird-small
                        img(src="./img/slider-top/slide2/bird_small.png")
                    .slider-top-slide__cloud
                        img(src="./img/slider-top/slide2/cloud.png")
                    .slider-top-slide__shadow     
                        img(src="./img/slider-top/slide2/shadow.png")
                    .slider-top-slide__char
                        img(src="./img/slider-top/slide2/character.png")
                    .slider-top-slide__text
                        | раніше було краще? все було дешево?
                        br
                        | ні, не чув,
                        br
                        | бо в мене все добре!
                        br
                        span.slider-top-slide-2__bottom підтримка
        .slider-nav
            .slider-toggle
                a(href="#").slider-toggle__prev.btn-square PREV
                a(href="#").slider-toggle__next.btn-square NEXT