.slider-top-wrapper
    .slider.slider-top
        .slider-nav
        ul.slider-list.slider-top-list
            li.slider-item
                .slider-top-inner
                    h1 SLIDER ITEM #1
            li.slider-item
                .slider-top-inner
                    h1 SLIDER ITEM #2
            li.slider-item
                .slider-top-inner
                    h1 SLIDER ITEM #3
            li.slider-item
                .slider-top-inner
                    h1 SLIDER ITEM #4