.slider-top-wrapper
    .slider.slider-top
        .slider-top-above
            .slider-top-above-wrapper
                .slider-top-header
                    .slider-top__title Найбільша в Україні біржа добра
                    .slider-top__subtitle допомагати просто
        ul.slider-list
            li.slider-item
                .slider-top-item-wrapper
                    h1 slide #1
            li.slider-item
                .slider-top-item-wrapper                
                    h1 slide #2
        .slider-nav
            .slider-toggle
                a(href="#").slider-toggle__prev.btn-square PREV
                a(href="#").slider-toggle__next.btn-square NEXT