.dropdown {
    position: relative;
    &-list {
        display: none;
        background: white;
        @extend %list;
        width: 100%;
        border-top: rem(2px) solid black;
        border-bottom: rem(2px) solid black;
    }
    &__link {
        @extend %title;
        color: white;
        display: block;
        padding: rem(15px) rem(10px);
        background: black;
        &:hover {
            background: $orange;
            color: black;
            opacity: 1;
        }
    }
    &__btn {
        display: block;
        text-align: left;
        width: 100%;
        &-icon {
            transition: $transition;
        }
    }
    &.active {
        .dropdown {
            &-list {
                display: block;
                position: absolute;
                top: 100%;
                left: 0;
            }
            &__btn-icon {
                transform: rotate(90deg);
            }
        }
    }
}