.slider {
    position: relative;
    &-list {
        @extend %list;
    }
    &-toggle {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        &__prev,
        &__next {
            transform: rotate(270deg);
        }
        &__prev {
            float: left;
        }
        &__next {
            float: right;
        }
    }
}