.slider {
    position: relative;
    &-list {
        @extend %list;
    }
    &-nav {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
    }
    &-toggle__prev,
    &-toggle__next {
        transform: rotate(270deg);
    }
    &-toggle__prev {
        float: left;
    }
    &-toggle__next {
        float: right;
    }
}