aside.filters
    .filters-list
        +filter-item('Підбір допомоги','Прибрати параметри пошуку','help',[{id:'Fin',text:'Фінансова'},{id:'Mat',text:'Матеріальна'},{id:'Serv',text:'Послуга'}])
        +filter-item('Притулки','Показати всі позиції','shelter',[{id:'Ameda',text:'Амеда'},{id:'Sirius',text:'Сіріус'},{id:'Myloserdya',text:'Милосердя'},{id:'HromadskaInitsiatyva',text:'Громадська ініціатива'},{id:'KhvostyILapy',text:'Хвости і лапи'},{id:'PanKotsky',text:'Пан Коцький'},{id:'Zvirynets',text:'Звіринець'}])