.positions
    .title Притулки для тварин
    ul.positions-list
        +positions-item('Збираємо кошти на харчування тварин','Притулок Сіріус')
        +positions-item('Необхідно провести вакцинацію собак','Притулок Сіріус')
        +positions-item('Потрібні кошти на лікування Шарика','Притулок Амеда')
        +positions-item('Допоможіть Мурчику на потез задньої лапи','Притулок Милосердя')
        +positions-item('Збираємо кошти для благоустрою м. Київ','Громадська ініціатива')
        +positions-item('Збираємо на харчування для собак','Притулок Хвости і лапи')