.positions
    .title Притулки для тварин
    ul.positions-list
        +positions-item('Збираємо кошти на харчування тварин','Притулок Сіріус','./img/positions/1.png')
        +positions-item('Необхідно провести вакцинацію собак','Притулок Сіріус','./img/positions/2.png')
        +positions-item('Потрібні кошти на лікування Шарика','Притулок Амеда','./img/positions/3.png')
        +positions-item('Допоможіть Мурчику на потез задньої лапи','Притулок Милосердя','./img/positions/4.png')
        +positions-item('Збираємо кошти для благоустрою м. Київ','Громадська ініціатива','./img/positions/5.png')
        +positions-item('Збираємо на харчування для собак','Притулок Хвости і лапи','./img/positions/6.png')
    .positions-more
        .positions-more__icon
            img(src="./img/icons/more.png")
        .positions-more__text Показати більше позицій
        .positions-more__icon
            .positions-more__icon-point
            .positions-more__icon-point.active
            .positions-more__icon-point
            .positions-more__icon-point
            .positions-more__icon-point