@font-face {
    font-family: 'PlumbRegular';
    src: url('../fonts/plumb-regular.otf');
}

@font-face {
    font-family: 'PlumbCondencedBlack';
    src: url('../fonts/plumbcondensed-black.otf');
}

@font-face {
    font-family: 'PlumbCondencedRegular';
    src: url('../fonts/plumbcondensed-regular.otf');
}

@import './_misc/mixins.scss';
$header-height: 117px;
$border: 1px solid rgba(black,
.2);
$border-btn: 1px solid #bcbcbc;
$orange: #f7b132;
$red: #bf303e;
$grey: #9c9c9c;
$html-font-size: 12px;
$wrapper: rem(1170px);
$transition: 200ms;
@import './tags.scss';
@import './style.scss';
@import './elements/slider.scss';
@import './blocks/header.scss';
@import './blocks/footer.scss';
@import './blocks/slider-top.scss';
@import './blocks/previews/previews.scss';
@import './blocks/previews/filters.scss';
@import './blocks/previews/positions.scss';
@import './blocks/project.scss';
@import './blocks/deals.scss';