html {
    font-size: $html-font-size;
}

body {
    font-family: 'PlumbRegular';
    line-height: 1.3;
}

button {
    cursor: pointer;
}

.icon {
    width: 1em;
    height: 1em;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    width: $wrapper;
    border-bottom: $border;
    border-left: $border;
    border-right: $border;
    @extend %clearfix;
}

.title {
    @extend %title;
    &_bottom-margin {
        margin-bottom: rem(8px);
    }
}

.subtitle {
    font-family: 'PlumbCondencedRegular';
    letter-spacing: .2em;
}

.red {
    color: $red;
}

%title {
    font-family: 'PlumbCondencedRegular';
    letter-spacing: .2em;
    text-transform: uppercase;
}

.accent {
    @extend .red;
    @extend .subtitle;
}

.btn {
    border: $border;
    @extend %title;
    background: none;
    padding: rem(10px) rem(7px) rem(9px) rem(13px);
    display: inline-block;
    color: black;
    cursor: pointer;
    &:hover {
        opacity: .8;
    }
    &_dark {
        background: black;
        border-color: black;
        color: white;
    }
    &_block {
        display: block;
        width: 100%;
        text-align: left;
        padding: rem(12px) rem(8px) rem(9.5px);
    }
    &-square {
        background: black;
        color: white;
        padding-top: rem(2px);
        width: rem(65px);
        height: rem(65px);
        display: block;
        text-align: center;
        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 0;
            height: 100%;
        }
    }
    &-icon {
        background: none;
        border: none;
        padding: 0;
        .icon {
            display: block;
        }
    }
}