h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %title;
}

a,
input,
button {
    transition: $transition;
}

a {
    color: $red;
    text-decoration: none;
    transition: $transition;
    &:hover {
        opacity: .8;
    }
}

button,
input[type="button"],
input[type="submit"] {
    * {
        pointer-events: none;
    }
    &:focus {
        outline: none;
    }
}

.checkbox {
    display: none;
    &+label {
        @extend %title;
        display: block;
        color: $grey;
        margin-bottom: rem(21px);
        transition: $transition;
        &:before {
            content: '';
            margin-right: rem(35px);
            transition: $transition;
            font-size: 10px;
            display: inline-block;
            width: rem(29px);
            height: rem(29px);
            vertical-align: middle;
            background-color: $orange;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &:checked+label {
        color: black;
        &:before {
            background-image: url('../img/icons/heart.png');
        }
    }
}

.form {
    margin-top: rem(4px);
    background: white;
    border: $border;
    .input {
        border-left: none;
        border-right: none;
        border-top: none;
        display: block;
        width: 100%;
    }
}

.input {
    @extend .subtitle;
    background: none;
    width: rem(160px);
    border: $border;
    padding: rem(9px) rem(9px) rem(7px);
    &+textarea {
        height: rem(169px);
        resize: none;
    }
    &::placeholder {
        color: black;
    }
    &-group {
        border: $border;
        display: inline-block;
        &__input {
            vertical-align: middle;
            display: inline-block;
            border: none;
            text-transform: uppercase;
            padding: rem(5px) rem(10px);
            font-size: rem(15px);
            width: rem(172px);
        }
        &__button {
            background: none;
            border: none;
            font-size: rem(17px);
            padding: 0;
            vertical-align: middle;
            line-height: 1;
            padding: rem(5px) rem(5px) rem(2px);
        }
        &__icon {
            fill: none;
            stroke: #333233;
        }
    }
}